<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
    <server>
      <id>anypoint-exchange-v3</id>
      <username>--username--</username>
      <password>--password--</password>
    </server>
       <server>
      <id>Repository</id>
     <username>--username--</username>
      <password>--password--</password>
    </server>
  </servers>
    <profiles>
        <profile>
            <id>dev</id>
            <properties>
                <enc.key>--encrypt-key--</enc.key>
                <username>--username--</username>
                <password>--password--</password>
                <anypoint.platform.client_id>--client-id--</anypoint.platform.client_id>
                <anypoint.platform.client_secret>--client-secret--</anypoint.platform.client_secret>
            </properties>
        </profile>
    </profiles>
    <activeProfiles/>
</settings>